@import "tailwindcss";

@theme {
  --color-surface: #fbf8ff;
  --color-on-surface: #1a1b22;
  --color-surface-variant: #e3e1ec;
  --color-on-surface-variant: #564334;
  --color-primary: #904d00;
  --color-primary-container: #ff8c00;
  --color-on-primary: #ffffff;
  --color-outline-variant: #ddc1ae;
  --color-surface-container: #eeedf7;
  --color-surface-container-lowest: #ffffff;
  --color-surface-dim: #dad9e3;

  --font-body-md: "Inter", sans-serif;
  --font-display-lg: "Montserrat", sans-serif;
  --font-headline-md: "Montserrat", sans-serif;
  --font-headline-sm: "Montserrat", sans-serif;
  --font-label-md: "Inter", sans-serif;
  --font-label-sm: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-surface);
    background-image: radial-gradient(circle at top right, var(--color-surface-container), var(--color-surface) 60%);
    background-attachment: fixed;
    color: var(--color-on-surface);
    min-height: 100vh;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.filled-icon {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
